.box_answer{
    min-height:50px;
    background-color: #ffffff; /* Set the background color you want */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow (adjust values as needed) */
    margin:20px;
    padding:32px;
}
.flex_row{
    display: flex;
    justify-content: space-between;
    margin-top:8px;
}
.success{
    color:green;
    font-weight: 600;
}
.failure{
    color:red;
    font-weight: 600;
}
.correct_answer{
    color:#f4792a;
    font-weight: 600;
}
